---
import AgeCategory from "@components/AgeCategory.astro";
import GeneralCategory from "@components/GeneralCategory.astro";

import Layout from "@layouts/LayoutCategory.astro";
import { getCategoryBySlug } from "@src/turso";
import { type CategoryData } from "@types";
export const prerender = false;

const { category } = Astro.params;
if (!category) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const { name, title, meta_title: metaTitle, slug, meta_description: metaDescription, content_by_age, initial_content: initialContent, type } = await getCategoryBySlug(category) as unknown as CategoryData;
const contentByAge = JSON.parse(content_by_age);
---

<Layout title={title}, metaTitle={metaTitle} metaDescription={metaDescription} slug={slug} name={name} >
  <section class="px-4 py-8">
    <h1 class="leading-tight text-balance">{title}</h1>
    {
      initialContent && (
        <p>{initialContent}</p>
      )
    }
  </section>
  {
    type === 'general' && (
      <GeneralCategory contentByAge={contentByAge} name={name} />
    )
  }
  {
    type === 'age' && (
      <AgeCategory contentByAge={contentByAge} name={name} />
    )
  }
</Layout>

<style>
  h1 {
    font-size: clamp(2em,4vw + .5em,3em);
  }
</style>