---
import { ClientRouter } from 'astro:transitions';
import Header from '@components/Header.astro';
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import { CldImage } from 'astro-cloudinary';
import Breadcrumb from '@components/Breadcrumb.astro';
import { getCldOgImageUrl } from 'astro-cloudinary/helpers';
import type { LittleStory } from '@types';
import { PUBLIC_CLOUDINARY_CLOUD_NAME } from 'astro:env/server';

interface Props {
	title: string;
  metaTitle: string;
	metaDescription: string;
  transition?: 'slide' | 'fade' | 'none';
  slug: string;
  name: string;
  stories: LittleStory[];
}

const { metaDescription, metaTitle, transition = 'fade', title, slug, name, stories } = Astro.props;
const imageUrl = `https://res.cloudinary.com/dnxab4qma/image/upload/v1737579916/cuentos-interactivos/categories/hero-${name}`;
const ogImageUrl = getCldOgImageUrl({ src: `cuentos-interactivos/categories/hero-${name}` });

const url = new URL(Astro.url.pathname, Astro.site);

console.log(Astro.site);
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={metaTitle} description={metaDescription} image={ogImageUrl} />
    <script type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "CollectionPage",
      "name": title,
      "url": url,
      "description": metaDescription,
      "publisher": {
        "@type": "Organization",
        "name": "El Árbol de las Historias",
        "url": Astro.site?.origin,
      },
      "hasPart": {
        "@type": "ItemList",
        "name": title,
        "itemListElement": stories.map(({title, slug, description}, index) => ({
          "@type": "ListItem",
          "position": index + 1,
          "item": {
            "@type": "CreativeWork",
            "name": title,
            "url": new URL(slug, Astro.site),
            "image": `https://res.cloudinary.com/${PUBLIC_CLOUDINARY_CLOUD_NAME}/image/upload/v1737579916/cuentos-interactivos/${slug}/${slug}`,
            "author": {
              "@type": "Organization",
              "name": "El Árbol de las Historias"
            },
            "description": description
          }
        }))
      }
    })}>  
    </script>      
    <ClientRouter />
	</head>
	<body>
    <Header />
    <main class="flex pt-24 flex-col gap-8 mx-auto max-w-5xl" transition:animate={transition}>
      <Breadcrumb breadcrumb={[{
        title: 'Cuentos interactivos',
        slug: '/#categorias',
        current: false,
      }, {
        title,
        slug: `/cuentos-interactivos/${slug}`,
        current: true,
      }]} />
      <CldImage
        src={imageUrl}
        width={1024}
        height={512}
        alt={title}
        sizes="100vw"
        loading="eager"
        class="peer-hover:scale-110 z-10 rounded-lg transition-transform"
      />
      <slot />
    </main>
	</body>
  <Footer />
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

  h1 {
    font-size: clamp(2em,4vw + .5em,3em);
  }
</style>
